<div class="body" style="overflow-x: hidden">
  <header class="header" (scroll)="onWindowScroll()">
    <div class="row header_row">
      <div class="col-md-2">
        <h3 class="logo">
          <!-- Frontend -->
          <!-- <img [src]="imgPath" alt="LOGO" /> -->
        </h3>
      </div>
      <div class="col-md-8">
        <nav class="menu">
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#AI">AI works</a></li>
            <li><a href="#gallery">Gallery</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-md-2">
        <a
          href="javascript:void(0);"
          class="sidemenu_toggler"
          (click)="togglemenu()"
        >
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
    </div>
    <div class="sidemenu">
      <a href="javascript:void(0);" class="close" (click)="closemenu()"></a>
      <nav>
        <ul>
          <li>
            <a href="#home" (click)="closemenu()" data-text="Home">Home</a>
          </li>
          <li>
            <a href="#about" (click)="closemenu()" data-text="About">About</a>
          </li>
          <li>
            <a href="#services" (click)="closemenu()" data-text="Services"
              >Services</a
            >
          </li>
          <li>
            <a href="#skills" (click)="closemenu()" data-text="Skills"
              >Skills</a
            >
          </li>
          <li>
            <a href="#AI" (click)="closemenu()" data-text="AI Works"
              >AI Works</a
            >
          </li>
          <li>
            <a href="#gallery" (click)="closemenu()" data-text="Gallery"
              >Gallery</a
            >
          </li>
        </ul>
      </nav>
      <footer>
        <div class="social-icons d-flex">
          <!-- <li><i class="fa fa-facebook"></i></li> -->
          <li>
            <a
              class="linkedin"
              href="https://www.linkedin.com/company/neurooceans-ai"
              ><i class="fa fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a class="github" href="https://github.com/NeurOOceans"
              ><i class="fa fa-github"></i
            ></a>
          </li>
          <li>
            <a class="github" href="https://www.upwork.com/agencies/neurooceans/"><img src="assets/images/upwork-white.svg" alt="" class="upwork"></a>
          </li>
        </div>
        <!-- <p>2020-2021,Designed by Arooj Saghar</p> -->
      </footer>
    </div>
  </header>

  <section class="home container" id="home">
    <div class="row">
      <div class="col-md-6">
        <div class="hero-text" data-aos="fade-right" data-aos-duration="2000">
          <span class="title">Welcome To</span><br />
          <span class="name">NeuroOceans AI</span><br />
          <span class="designation">AI-based Software Company</span><br />
          <span class="email"
            ><i class="fa fa-envelope"></i>hr@neurooceans.ai</span
          ><br />
          <span class="phone"><i class="fa fa-phone"></i>+92341-4742499</span
          ><br />
          <div class="social-icons d-flex">
            <li>
              <a
                class="linkedin"
                href="https://www.linkedin.com/company/neurooceans-ai"
                ><i class="fa fa-linkedin"></i
              ></a>
            </li>
            <li>
              <a class="github" href="https://github.com/NeurOOceans"
                ><i class="fa fa-github"></i
              ></a>
            </li>
            <li>
              <a class="github" href="https://www.upwork.com/agencies/neurooceans/">
                <img src="assets/images/upwork-custom.svg" alt="" class="upwork">
              </a>
            </li>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="hero-img" data-aos="fade-up" data-aos-duration="2000">
          <div class="img-border">
            <img
              src="assets/images/LOGO OCEAN.png"
              alt=""
              class="img-fluid logo-img"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!------------About starts------------->

  <section
    class="about mb-5"
    id="about"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-6 img">
          <img src="assets/images/neuro ocean (Transparent).png" alt="" />
        </div>
        <div class="col-md-5 gap">
          <h3>About Us</h3>
          <span class="hl"></span>
          <p>
            <!-- <br />
                In my Web development journey, I work with companies around the globe as a freelance Web Developer. I've designed everything from small business sites to large scale eCommerce stores. -->
            <br />
            Welcome to NeuroOceans.AI, an AI-based software company that
            specializes in developing cutting-edge solutions for businesses and
            organizations. Our team of experts leverages the latest advancements
            in artificial intelligence, machine learning, and natural language
            processing to deliver innovative products and services that help our
            clients stay ahead of the curve.
            <br />
            Whether you need to optimize your operations, gain valuable
            insights, or streamline your processes, we have the tools and
            expertise to help you achieve your goals. Join us on our journey to
            unlock the depths of intelligence and discover the endless
            possibilities that AI has to offer.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!------------Gallery starts------------->

  <section class="gallery mb-5 mt-5" id="gallery">
    <div class="container">
      <div class="header">
        <h1 class="logo">Our Projects</h1>
      </div>
      <div class="gallery1">
        <div class="item">
          <a href="https://basatanwertech.com" target="_blank">
            <img src="assets/images/basatanwertech.png" alt="image" />
            <h4>Basat Anwar Tech (Next JS)</h4>
          </a>
        </div>
        <div class="item">
          <a href="https://sacheematextile.com/" target="_blank">
            <img src="assets/images/sacheematextile.png" alt="image" />
            <h4>Sachema Textile (React JS)</h4>
          </a>
        </div>
        <div class="item">
          <a href="https://nawazsultantech.com">
            <img src="assets/images/nawazsultantechdxb.png" alt="image" />
            <h4>Nawaz Sultan Technical Services L.L.C (React Js)</h4>
          </a>
        </div>
        <div class="item">
          <a href="https://www.gettyimages.com/">
            <img src="assets/images/gettyimages.png" alt="image" />
            <h4>Free Stock Photos(React Js)</h4>
          </a>
        </div>
        <div class="item">
          <a href="https://keebler.health/">
            <img src="assets/images/keebler.png" alt="image" />
            <h4>Keebler Health (React Js)</h4>
          </a>
        </div>
        <div class="item">
          <a href="https://mominas.co.uk/">
            <img src="assets/images/mominas.png" alt="image" />
            <h4>Momina's Store (React Js)</h4>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!------------Recent works starts------------->

  <section class="services mb-5" id="AI">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center mb-5">
          <h1>Our Recent AI Works</h1>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <div class="service-item">
            <i class="fa fa-code iron-color"></i>
            <h3>Semantic Image Search</h3>
            <p>
              A search tool that helps users find pictures by typing in keywords
              or descriptions. It uses smart algorithms to understand what's in
              the images, making it easier to find the right ones
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <div class="service-item">
            <i class="fa fa-code iron-color"></i>
            <h3>Used car price prediction in a Time Series</h3>
            <p>
              It forecasts future prices of pre-owned vehicles using historical
              data and predictive modelling, aiding users in making informed
              buying and selling decisions.
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <div class="service-item">
            <i class="fa fa-code iron-color"></i>
            <h3>Generative AI based Question Answering system</h3>
            <p>
              It allows users to upload their documents and ask unlimited
              relevant questions over these documents , providing accurate and
              informative answers using advanced AI technology
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <div class="service-item">
            <i class="fa fa-code iron-color"></i>
            <h3>Face Recognition and Face Search System</h3>
            <p>
              A comprehensive application that employs advanced facial
              recognition technology to identify and search for individuals
              within a given database, enhancing security and identity
              verification processes.
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <div class="service-item">
            <i class="fa fa-code iron-color"></i>
            <h3>Deep Fake Image Detection</h3>
            <p>
              It is a specialized system that uses advanced technology to
              identify manipulated or fraudulent images created through deep
              learning techniques, ensuring the integrity of visual content and
              guarding against deception or misinformation
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <div class="service-item">
            <i class="fa fa-code iron-color"></i>
            <h3>Voice Cloning and Speech Similarity Search</h3>
            <p>
              A powerful tool that allows users to clone and analyze voices,
              enabling applications in personalized voice assistants and
              searching for similar speech patterns within audio data for
              various purposes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!------------Skills section starts------------->

  <section class="skills" id="skills">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-7">
          <div class="skills_inner">
            <div
              class="professional_skill"
            >
              <h3>Technical Skills Set</h3>
              <div class="singal_skill mt-5">
                <div class="tag">
                  <ul>
                    <li><h6>Web Backend : </h6></li>
                    <li><span>Python</span></li>
                    <li><span>Django</span></li>
                    <li><span>Flask</span></li>
                    <li><span>Fast API</span></li>
                    <li><span>Node JS</span></li>
                  </ul>
                </div>
              </div>
              <div class="singal_skill">
                <div class="tag">
                  <ul>
                    <li><h6>Web Frontend : </h6></li>
                    <li><span>React</span></li>
                    <li><span>Angular</span></li>
                    <li><span>Wordpress</span></li>
                    <li><span>Next JS</span></li>
                    <li><span>Vue JS</span></li>
                  </ul>
                </div>
              </div>
              <div class="singal_skill">
                <div class="tag">
                  <ul>
                    <li><h6>DevOps : </h6></li>
                    <li><span>Docker</span></li>
                    <li><span>Kubernetes</span></li>
                    <li><span>AirFlow</span></li>
                    <li><span>Argo</span></li>
                    <li><span>Terraform</span></li>
                    <li><span>AWS</span></li>
                    <li><span>Azure</span></li>
                    <li><span>GCP</span></li>
                    <li><span>Heroku</span></li>
                  </ul>
                </div>
              </div>
              <div class="singal_skill">
                <div class="tag">
                  <ul>
                    <li><h6>Data Science : </h6></li>
                    <li><span>PyTorch</span></li>
                    <li><span>TensorFlow</span></li>
                    <li><span>Transformers</span></li>
                    <li><span>OpenAI</span></li>
                    <li><span>Langchain</span></li>
                    <li><span>Spacy</span></li>
                    <li><span>Gensim</span></li>
                    <li><span>ONNX</span></li>
                    <li><span>Pandas</span></li>
                  </ul>
                </div>
              </div>
              <div class="singal_skill">
                <div class="tag">
                  <ul>
                    <li><h6>Database : </h6></li>
                    <li><span>Mysql</span></li>
                    <li><span>PostgreSql</span></li>
                    <li><span>Sqlite</span></li>
                    <li><span>MongoDB</span></li>
                    <li><span>Oracle</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
          <div
            class="professional_skills"
          >
            <h3>Professional Skills</h3>
            <ul class="professional_progress">
              <li>
                <circle-progress
                  [percent]="100"
                  [radius]="65"
                  [outerStrokeWidth]="8"
                  [innerStrokeWidth]="8"
                  [outerStrokeColor]="'#46ABB4'"
                  [innerStrokeColor]="'#FFFFFF'"
                  [animation]="true"
                  [animationDuration]="300"
                  class="text_white"
                ></circle-progress>
                <div class="skill_name">Communication</div>
              </li>
              <li>
                <circle-progress
                  [percent]="100"
                  [radius]="65"
                  [outerStrokeWidth]="8"
                  [innerStrokeWidth]="8"
                  [outerStrokeColor]="'#46ABB4'"
                  [innerStrokeColor]="'#FFFFFF'"
                  [animation]="true"
                  [animationDuration]="300"
                  class="text_white"
                ></circle-progress>
                <div class="skill_name">Team Work</div>
              </li>
              <li>
                <circle-progress
                  [percent]="100"
                  [radius]="65"
                  [outerStrokeWidth]="8"
                  [innerStrokeWidth]="8"
                  [outerStrokeColor]="'#46ABB4'"
                  [innerStrokeColor]="'#FFFFFF'"
                  [animation]="true"
                  [animationDuration]="300"
                  class="text_white"
                ></circle-progress>
                <div class="skill_name">Project Management</div>
              </li>
              <li>
                <circle-progress
                  [percent]="100"
                  [radius]="65"
                  [outerStrokeWidth]="8"
                  [innerStrokeWidth]="8"
                  [outerStrokeColor]="'#46ABB4'"
                  [innerStrokeColor]="'#FFFFFF'"
                  [animation]="true"
                  [animationDuration]="300"
                  class="text_white"
                ></circle-progress>
                <div class="skill_name">Creativity</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!------------Services starts------------->
  <section class=" small_text services mb-5" id="services">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center mb-5">
          <h1>Our Services</h1>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <div class="service-item">
            <i class="fa fa-object-ungroup sky-color"></i>
            <h3>Web Development</h3>
            <p>
              Our web development experts create responsive and user-friendly websites tailored to your business needs, ensuring a strong online presence and an exceptional user experience
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <div class="service-item">
            <i class="fa fa-object-ungroup"></i>
            <h3>AI & Machine Learning</h3>
            <p>
              Harness the power of artificial intelligence and machine learning to drive business growth. Our specialists develop AI-driven solutions that enhance decision-making and automate processes.
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <div class="service-item">
            <i class="fa fa-object-ungroup sky-color"></i>
            <h3>Product Design</h3>
            <p>
              Our talented design team crafts visually appealing and intuitive product interfaces, guaranteeing a seamless user experience and increased customer engagement.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <div class="service-item">
            <i class="fa fa-object-ungroup sky-color"></i>
            <h3>DevOps & Solution Architecture</h3>
            <p>
              We optimize your development process with DevOps practices and create robust solution architectures that ensure scalability, security, and efficiency for your software projects.
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <div class="service-item">
            <i class="fa fa-object-ungroup sky-color"></i>
            <h3>Data Mining & Management</h3>
            <p>
              Unlock the potential of your data. Our data experts employ advanced mining and management techniques to extract valuable insights, helping you make informed decisions
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <div class="service-item">
            <i class="fa fa-object-ungroup sky-color"></i>
            <h3>Mobile Development</h3>
            <p>
              Stay connected with your audience on the go. Our mobile app developers build feature-rich applications that run smoothly on various platforms, catering to diverse user needs.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <div class="timeline_section" id="experiences">
    <div class="top_section text-center">
      <h1>Work Experience and Education</h1>
      <p>Let me share my Education and Work Experience with you</p>
    </div>
  </div> -->

  <!-- <section
    class="contact_section"
    id="contact"
    data-aos="zoom-in-up"
    data-aos-duration="2000"
  >
    <div class="container">
      <h2>Career</h2>

    </div>
  </section> -->

  <!--------------------Footer-------------------->

  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <hr />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <p class="copyright-text">
            All Projects Displayed are Designed and Developed by NeuroOceans AI.
            <span>Copyright &copy; 2023 NeuroOceans AI</span>.
          </p>
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12">
          <ul class="social-icons">
            <!-- <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li> -->
            <li>
              <a
                class="linkedin"
                href="https://www.linkedin.com/company/neurooceans-ai"
                ><i class="fa fa-linkedin"></i
              ></a>
            </li>
            <li>
              <a class="github" href="https://github.com/NeurOOceans"><i class="fa fa-github"></i></a>
            </li>
            <li>
              <a class="footer_upwork" href="https://www.upwork.com/agencies/neurooceans/"><img src="assets/images/upwork-custom.svg" alt="" class=""></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
