<div class="body" style="overflow-x: hidden">
  <header class="header" (scroll)="onWindowScroll()">
    <div class="row header_row">
      <div class="col-md-2">
        <h3 class="logo">
          <!-- Frontend -->
          <!-- <img [src]="imgPath" alt="LOGO" /> -->
        </h3>
      </div>
      <div class="col-md-8">
        <nav class="menu">
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#experiences">Experiences</a></li>
            <li><a href="#gallery">Gallery</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-md-2">
        <a
          href="javascript:void(0);"
          class="sidemenu_toggler"
          (click)="togglemenu()"
        >
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
    </div>
    <div class="sidemenu">
      <a href="javascript:void(0);" class="close" (click)="closemenu()"></a>
      <nav>
        <ul>
          <li>
            <a href="#home" (click)="closemenu()" data-text="Home">Home</a>
          </li>
          <li>
            <a href="#about" (click)="closemenu()" data-text="About">About</a>
          </li>
          <li>
            <a href="#services" (click)="closemenu()" data-text="Services"
              >Services</a
            >
          </li>
          <li>
            <a href="#skills" (click)="closemenu()" data-text="Skills"
              >Skills</a
            >
          </li>
          <li>
            <a href="#experiences" (click)="closemenu()" data-text="Experiences"
              >Experiences</a
            >
          </li>
          <li>
            <a href="#gallery" (click)="closemenu()" data-text="Gallery"
              >Gallery</a
            >
          </li>
        </ul>
      </nav>
      <footer>
        <div class="social-icons d-flex">
          <!-- <li><i class="fa fa-facebook"></i></li> -->
          <li>
            <a class="linkedin" href="https://www.linkedin.com/company/neurooceans-ai"
              ><i class="fa fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a class="github" href="https://github.com/aRooj-saghaR"
              ><i class="fa fa-github"></i
            ></a>
          </li>
        </div>
        <!-- <p>2020-2021,Designed by Arooj Saghar</p> -->
      </footer>
    </div>
  </header>
  <section class="home container" id="home">
    <div class="row">
      <div class="col-md-6">
        <div class="hero-text" data-aos="fade-right" data-aos-duration="2000">
          <span class="title">Welcome To</span><br />
          <span class="name">NeuroOceans AI</span><br />
          <span class="designation">AI-based Software Company</span><br />
          <span class="email"
            ><i class="fa fa-envelope"></i>hr@neurooceans.ai</span
          ><br />
          <span class="phone"><i class="fa fa-phone"></i>+92341-4742499</span
          ><br />
          <div class="social-icons d-flex">
            <li>
              <a
                class="linkedin"
                href="https://www.linkedin.com/company/neurooceans-ai"
                ><i class="fa fa-linkedin"></i
              ></a>
            </li>
            <li>
              <a class="github" href="https://github.com/aRooj-saghaR"
                ><i class="fa fa-github"></i
              ></a>
            </li>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="hero-img" data-aos="fade-up" data-aos-duration="2000">
          <div class="img-border">
            <img
              src="assets/images/portfolio/Logo.jpg"
              alt=""
              class="img-fluid logo-img"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!------------About starts------------->

  <section
    class="about"
    id="about"
    data-aos="zoom-in-up"
    data-aos-duration="2000"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-6 img">
          <img src="assets/images/portfolio/home-main.svg" alt="" />
        </div>
        <div class="col-md-5 gap">
          <h3>About Us</h3>
          <span class="hl"></span>
          <p>
            <!-- <br />
                In my Web development journey, I work with companies around the globe as a freelance Web Developer. I've designed everything from small business sites to large scale eCommerce stores. -->
            <br />
            Welcome to NeuroOceans.AI, an AI-based software company that
            specializes in developing cutting-edge solutions for businesses and
            organizations. Our team of experts leverages the latest advancements
            in artificial intelligence, machine learning, and natural language
            processing to deliver innovative products and services that help our
            clients stay ahead of the curve.
            <br />
            Whether you need to optimize your operations, gain valuable
            insights, or streamline your processes, we have the tools and
            expertise to help you achieve your goals. Join us on our journey to
            unlock the depths of intelligence and discover the endless
            possibilities that AI has to offer.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!------------Services starts------------->
  <section class="services" id="services">
    <div class="container" data-aos="fade-up-right" data-aos-duration="500">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1>Our Services</h1>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <div class="service-item">
            <i class="fa fa-object-ungroup sky-color"></i>
            <h3>Web Development</h3>
            <p>
              I can design and develop Dashboards, Admin panels and web
              applications for different purposes according to your requirements
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <div class="service-item">
            <i class="fa fa-object-ungroup"></i>
            <h3>AI & Machine Learning</h3>
            <p>
              I design professional, creative and responsive websites compatible
              with all screen sizes
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <div class="service-item">
            <i class="fa fa-code iron-color"></i>
            <h3>Product Design</h3>
            <p>
              Increase your sales with fully functional and incredible online
              store.I can create responsive E-commerce stores using wordpress
              and woo-commerce
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <div class="service-item">
            <i class="fa fa-code iron-color"></i>
            <h3>DevOps & Solution Architecture</h3>
            <p>
              Increase your sales with fully functional and incredible online
              store.I can create responsive E-commerce stores using wordpress
              and woo-commerce
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <div class="service-item">
            <i class="fa fa-code iron-color"></i>
            <h3>Data Mining & Management</h3>
            <p>
              Increase your sales with fully functional and incredible online
              store.I can create responsive E-commerce stores using wordpress
              and woo-commerce
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <div class="service-item">
            <i class="fa fa-code iron-color"></i>
            <h3>Mobile Development</h3>
            <p>
              Increase your sales with fully functional and incredible online
              store.I can create responsive E-commerce stores using wordpress
              and woo-commerce
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!------------Skills section starts------------->

  <section class="skills" id="skills">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="skills_inner">
            <div
              class="professional_skill"
              data-aos="zoom-in-right"
              data-aos-duration="2000"
            >
              <h3>Technical Skills Set</h3>
              <div class="singal_skill">
                <div class="tag">
                  <ul>
                    <li><span>React JS</span></li>
                    <li><span>Javascript</span></li>
                    <li><span>Angular</span></li>
                    <li><span>Node JS</span></li>
                    <li><span>Express JS</span></li>
                    <li><span>MongoDB</span></li>
                    <li><span>data Science</span></li>
                    <li><span>Machine Learning</span></li>
                    <li><span>Artificial Intelligence</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div
            class="professional_skills"
            data-aos="zoom-in-left"
            data-aos-duration="2000"
          >
            <h3>Professional Skills</h3>
            <ul class="professional_progress">
              <li>
                <circle-progress
                  [percent]="85"
                  [radius]="65"
                  [outerStrokeWidth]="8"
                  [innerStrokeWidth]="8"
                  [outerStrokeColor]="'#46ABB4'"
                  [innerStrokeColor]="'#FFFFFF'"
                  [animation]="true"
                  [animationDuration]="300"
                  class="text_white"
                ></circle-progress>
                <div class="skill_name">Communication</div>
              </li>
              <li>
                <circle-progress
                  [percent]="90"
                  [radius]="65"
                  [outerStrokeWidth]="8"
                  [innerStrokeWidth]="8"
                  [outerStrokeColor]="'#46ABB4'"
                  [innerStrokeColor]="'#FFFFFF'"
                  [animation]="true"
                  [animationDuration]="300"
                  class="text_white"
                ></circle-progress>
                <div class="skill_name">Team Work</div>
              </li>
              <li>
                <circle-progress
                  [percent]="65"
                  [radius]="65"
                  [outerStrokeWidth]="8"
                  [innerStrokeWidth]="8"
                  [outerStrokeColor]="'#46ABB4'"
                  [innerStrokeColor]="'#FFFFFF'"
                  [animation]="true"
                  [animationDuration]="300"
                  class="text_white"
                ></circle-progress>
                <div class="skill_name">Project Management</div>
              </li>
              <li>
                <circle-progress
                  [percent]="85"
                  [radius]="65"
                  [outerStrokeWidth]="8"
                  [innerStrokeWidth]="8"
                  [outerStrokeColor]="'#46ABB4'"
                  [innerStrokeColor]="'#FFFFFF'"
                  [animation]="true"
                  [animationDuration]="300"
                  class="text_white"
                ></circle-progress>
                <div class="skill_name">Creativity</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!------------TimeLine section starts------------->

  <section class="services mb-5" id="services">
    <div class="container" data-aos="fade-up-right" data-aos-duration="500">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1>Our Recent Works</h1>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <div class="service-item">
            <i class="fa fa-object-ungroup sky-color"></i>
            <h3>Semantic Image Search:</h3>
            <p>
              A search tool that helps users find pictures by typing in keywords
              or descriptions. It uses smart algorithms to understand what's in
              the images, making it easier to find the right ones
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <div class="service-item">
            <i class="fa fa-object-ungroup"></i>
            <h3>Used car price prediction in a Time Series</h3>
            <p>
              It forecasts future prices of pre-owned vehicles using historical
              data and predictive modelling, aiding users in making informed
              buying and selling decisions.
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <div class="service-item">
            <i class="fa fa-code iron-color"></i>
            <h3>Generative AI based Question Answering system</h3>
            <p>
              It allows users to upload their documents and ask unlimited
              relevant questions over these documents , providing accurate and
              informative answers using advanced AI technology
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <div class="service-item">
            <i class="fa fa-code iron-color"></i>
            <h3>Face Recognition and Face Search System</h3>
            <p>
              A comprehensive application that employs advanced facial
              recognition technology to identify and search for individuals
              within a given database, enhancing security and identity
              verification processes.
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <div class="service-item">
            <i class="fa fa-code iron-color"></i>
            <h3>Deep Fake Image Detection</h3>
            <p>
              It is a specialized system that uses advanced technology to
              identify manipulated or fraudulent images created through deep
              learning techniques, ensuring the integrity of visual content and
              guarding against deception or misinformation
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <div class="service-item">
            <i class="fa fa-code iron-color"></i>
            <h3>Voice Cloning and Speech Similarity Search</h3>
            <p>
              A powerful tool that allows users to clone and analyze voices,
              enabling applications in personalized voice assistants and
              searching for similar speech patterns within audio data for
              various purposes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <div class="timeline_section" id="experiences">
    <div class="top_section text-center">
      <h1>Work Experience and Education</h1>
      <p>Let me share my Education and Work Experience with you</p>
    </div>
  </div> -->

  <!------------Portfolio section starts------------->
  <section class="gallery mb-5 mt-5" id="gallery">
    <div class="container">
      <div class="header">
        <h1 class="logo">Our Projects</h1>
      </div>
      <div class="gallery1">
        <div class="item">
          <a href="https://basatanwertech.com" target="_blank">
            <img src="assets/images/basatanwertech.png" alt="image" />
            <h4>Basat Anwar Tech (Next JS)</h4>
          </a>
        </div>
        <div class="item">
          <a href="https://sacheematextile.com/" target="_blank">
            <img src="assets/images/sacheematextile.png" alt="image" />
            <h4>Sachema Textile (React JS)</h4>
          </a>
        </div>
        <div class="item">
          <a href="https://nawazsultantech.com">
            <img src="assets/images/portfolio/keyhour_home.png" alt="image" />
            <h4>Nawaz Sultan Technical Services L.L.C (React Js)</h4>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!------------------Contact Us----------------------->

  <!-- <section
    class="contact_section"
    id="contact"
    data-aos="zoom-in-up"
    data-aos-duration="2000"
  >
    <div class="container">
      <h2>Career</h2>

    </div>
  </section> -->

  <!--------------------Footer-------------------->

  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <hr />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <p class="copyright-text">
            All Projects Displayed are Designed and Developed by NeuroOceans AI.
            <span>Copyright &copy; 2023 NeuroOceans AI</span>.
          </p>
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12">
          <ul class="social-icons">
            <!-- <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li> -->
            <li>
              <a class="linkedin" href="https://www.linkedin.com/company/neurooceans-ai"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a class="github" href="#"><i class="fa fa-github"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
